@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>*@
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
@*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
@*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="list-group">
    <a href="@Url.Action("Index","Home")" class="list-group-item active">
        <i class="fa fa-home"></i> <span>Home</span>
    </a>
    <a href="@Url.Action("Index", "Setting")" class="list-group-item">
        <i class="fa fa-key"></i> <span>Configurações</span>
    </a>
    <a href="@Url.Action("Index", "User")" class="list-group-item">
        <i class="fa  fa-user fa-fw"></i><span>Usuários</span>
    </a>
    <a href="@Url.Action("Index", "FormCreation")" class="list-group-item">
        <i class="fa fa-edit fa-fw"></i> <span>Formulários</span>
    </a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.list-group-item').click(function (e) {
                e.preventDefault();
                $('.list-group-item').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
}
