
@{
    ViewBag.Title = "Formulários";
    Layout = "~/Views/Shared/_LayoutAccesscorp.cshtml";
}

<h2>Formulários</h2>

<form ng-controller="FormCreationCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">Formulários</div>
    </div>
    <table class="table table-bordered">
        <thead style="background-color: burlywood;">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in FormCreation">
                <td>{{item.Id}}</td>
                <td>{{item.Nome}}</td>
                <td style="width: 200px">
                    @Html.ActionLink("Editar", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Excluir", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        </tbody>
    </table>
</form>
@section scripts {
    <script src="~/ClientApp/app/formCreation/Module.js"></script>
    <script src="~/ClientApp/app/formCreation/Service.js"></script>
    <script src="~/ClientApp/app/formCreation/Controller.js"></script>
    <script type="text/javascript">
    </script>
}
